@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Add this to your main CSS file */
.course-shadow {
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}